@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
    background-color: #F9FEFF;
}

header {
    background-color: #f9feff;
    border-bottom: 2px solid #26C6C1;
    position: static;

}

.nav-2-div {
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-2-div>div {
    width: 10rem;
}


.nav-row-col-a-img {
    margin-left: -2rem;
}

.nav-row-col-a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-family: "Balsamiq Sans", Arial, sans-serif;
    font-size: 20px;
}

.nav-row-col-a:hover {
    color: #26C6C1;
    font-size: 22px;
}


.background-main {
    background-image: url("../assets/img/photoLibrary/background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: -4rem;
    background-blend-mode: lighten;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.eternos {
    margin-top: -10rem;
    margin-bottom:5rem;
    color: black;
    padding: 5px;
    width: auto;
    border-radius: 5px;
}

.eternos > h1 {
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #008080;
    font-size: clamp(3rem, 10vw, 10rem);
    font-family: "Bree Serif", Arial, serif;
    font-weight: bolder;

}

.sect-whoAreWe-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000739;
    padding: 30px 30px 30px 5.79rem;
}

.sect-whoAreWe-div-div {
    font-family: "Balsamiq Sans", sans-serif;
    color: #f9feff;
    text-shadow: 1px 1px 1px #0097b2, -1px 1px 1px #0097b2,
     1px -1px 1px #0097b2, -1px -1px 1px #0097b2;
    font-size: 40px;
}


.p-sobre, .p-sobre-2 {
    font-family: "Bree Serif", sans-serif;
    background: #26c6c1;
    border-radius: 5px;
    justify-content: center;
    padding: 5px 10px;
    font-size: 1.3em;
    max-width: 1400px;
    margin: 15px auto;
}

.img-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.img-min, .img-turm{
    width: 27rem; 
    height: auto; 
    max-width: 100%; 
    border-radius: 5px; 
}

.button-container{
    width: 100%;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.button-videos {
    width: 100%;
    padding: 20px;
    background-color: #26c6c1;
    color: #f8f8f8;
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.button-videos:hover{
    background-color: #1d8885;
}

.hashtag {
    font-family: "Bree Serif", sans-serif;
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #005f5c, -1px 1px 1px #005f5c,
    1px -1px 1px #005f5c, -1px -1px 1px #005f5c;  
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000739;
    padding-top: 28px;
    padding-bottom: 28px;
    gap: 40px;
}

.icon-1, .icon-2{
    width: 100%;
    height: 50px;
}
